/* datepicker-dark.css */
.react-datepicker {
  background-color: #1f2937; /* gray-800 */
  color: #fff;
  border: 1px solid #4b5563; /* gray-600 */
}

.react-datepicker__header {
  background-color: #374151; /* gray-700 */
  border-bottom: 1px solid #4b5563;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__current-month {
  color: #fff;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #2563eb; /* blue-500 */
  color: #fff;
}
